<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Title</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/forums/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
{% block menu %}
    <div class="block-site-menu">
        <div class="site-menu">

            <div class="site-logotype">
                <a class="{% if request.resolver_match.url_name == 'forums' %}active{% endif %}"
                   href="{% url 'forums:forums' %}"><span>GSForum</span></a>
            </div>

            <div class="links-to-sites">
                <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                   href="{% url 'index' %}"><span>GSGames</span></a>
                <a class="{% if request.resolver_match.url_name == 'news' %}active{% endif %}"
                   href="{% url 'news:news_all' %}"><span>GSNews</span></a>
            </div>

            <div class="forums-menu-search">
                <form action="" method="post">
                    <input class="input-search-in-menu" type="text" placeholder="Поиск">
                    <svg fill="black" viewBox="0 0 612.08 612.08">
                        <path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893
                    c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551
                    c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z
                    M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975s181.918,81.443,181.918,181.918
                    S338.402,419.811,237.927,419.811z"/>
                    </svg>
                </form>
            </div>

            <div class="menu_svg_320px">
                <svg fill="white" width="40" height="40" viewBox="0 0 512 512">
                    <path d="M381,190.9H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,190.9,381,190.9z"/>
                    <path d="M381,361.1H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,361.1,381,361.1z"/>
                    <path d="M381,276H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,276,381,276z"/>
                </svg>
            </div>

            <div class="photo-username-login-logout">
                {% if user.is_authenticated %}
                    <div class="photo-and-username">
                        {% if user.avatar %}
                            <div class="users-photo">
                                <img src="{{ user.avatar.url }}" id="user_avatar">
                            </div>
                        {% endif %}
                        <div class="users-name">
                            <a href="{% url 'auth:profile' user.id %}">
                                <span>{{ user.first_name|truncatechars:10 | default:"пользователь" }}</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="news-login-logout">
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}">
                            <svg id="login" viewBox="0 0 17.01 15.87" width="30px" height="30px" fill="red">
                                <title>выход</title>
                                <path d="M266.77 144.53a7.93 7.93 0 1 1-5.6 13.56 8.22 8.22 0 0 1-1.86-2.88h2.34a4.8 4.8 0 0 0 1 1.37 5.81 5.81 0 1 0 0-8.19 6 6 0 0 0-1.09 1.46h-2.32a7.87 7.87 0 0 1 1.89-3 8 8 0 0 1 5.6-2.34z"
                                      transform="translate(-257.71 -144.53)"></path>
                                <path d="M269.54 153.15a.78.78 0 0 0 0-1.23l-2.37-2.54a1.21 1.21 0 0 0-.2-.14 1.24 1.24 0 0 0-.2-.11 1 1 0 0 0-.43-.09h-.23a1 1 0 0 0-.4.17.83.83 0 0 0-.31.31 1.34 1.34 0 0 0-.17.43.56.56 0 0 0 0 .23 1.14 1.14 0 0 0 .09.43.72.72 0 0 0 .11.2.76.76 0 0 0 .14.17l1.37 1.51-1.37 1.51a.76.76 0 0 0-.14.17 1.64 1.64 0 0 0-.11.2 1.29 1.29 0 0 0-.09.46.71.71 0 0 0 0 .23 1.21 1.21 0 0 0 .17.4.83.83 0 0 0 .31.31 1 1 0 0 0 .4.17.71.71 0 0 0 .23 0 1 1 0 0 0 .43-.09.46.46 0 0 0 .2-.11.51.51 0 0 0 .2-.14zm0-1.23z"
                                      transform="translate(-257.71 -144.53)"></path>
                                <path d="M267.89 153v.62h-9.09a1.08 1.08 0 0 1-1.09-1.08 1.08 1.08 0 0 1 1.09-1.08h9.2l-.06.31c0 .14 0 .31-.06.46v.77z"
                                      transform="translate(-257.71 -144.53)"></path>
                            </svg>
                        </a>
                    {% else %}
                        <a href="{% url 'auth:login' %}">
                            <svg id="login" viewBox="0 0 17.01 15.87" width="30px" height="30px" fill="green">
                                <title>вход</title>
                                <path d="M266.77 144.53a7.93 7.93 0 1 1-5.6 13.56 8.22 8.22 0 0 1-1.86-2.88h2.34a4.8 4.8 0 0 0 1 1.37 5.81 5.81 0 1 0 0-8.19 6 6 0 0 0-1.09 1.46h-2.32a7.87 7.87 0 0 1 1.89-3 8 8 0 0 1 5.6-2.34z"
                                      transform="translate(-257.71 -144.53)"></path>
                                <path d="M269.54 153.15a.78.78 0 0 0 0-1.23l-2.37-2.54a1.21 1.21 0 0 0-.2-.14 1.24 1.24 0 0 0-.2-.11 1 1 0 0 0-.43-.09h-.23a1 1 0 0 0-.4.17.83.83 0 0 0-.31.31 1.34 1.34 0 0 0-.17.43.56.56 0 0 0 0 .23 1.14 1.14 0 0 0 .09.43.72.72 0 0 0 .11.2.76.76 0 0 0 .14.17l1.37 1.51-1.37 1.51a.76.76 0 0 0-.14.17 1.64 1.64 0 0 0-.11.2 1.29 1.29 0 0 0-.09.46.71.71 0 0 0 0 .23 1.21 1.21 0 0 0 .17.4.83.83 0 0 0 .31.31 1 1 0 0 0 .4.17.71.71 0 0 0 .23 0 1 1 0 0 0 .43-.09.46.46 0 0 0 .2-.11.51.51 0 0 0 .2-.14zm0-1.23z"
                                      transform="translate(-257.71 -144.53)"></path>
                                <path d="M267.89 153v.62h-9.09a1.08 1.08 0 0 1-1.09-1.08 1.08 1.08 0 0 1 1.09-1.08h9.2l-.06.31c0 .14 0 .31-.06.46v.77z"
                                      transform="translate(-257.71 -144.53)"></path>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>